<main class="contenedor contenedor-formularios no-padding">
  <h1><%- pageName %></h1>

  <form class="default-form" method="POST">
    <div class="campo">
      <label for="">Password Actual</label>
      <input type="password" name="actual" />
    </div>

    <div class="campo">
      <label for="">Password Nuevo</label>
      <input type="password" name="nuevo" />
    </div>
    <div class="campo">
      <label for="">Repite Nuevo</label>
      <input type="password" name="repite" />
    </div>

    <div class="campo enviar">
      <input type="submit" class="btn btn-rosa" value="Guardar Cambios" />
    </div>
  </form>
</main>
