<main class="contenedor contenedor-formularios no-padding">
  <h1><%= pageName %></h1>

  <form
    action="/new-group"
    method="post"
    class="default-form editorjs-form"
    enctype="multipart/form-data"
  >
    <div class="campo">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" placeholder="Nombre del grupo" />
    </div>

    <div class="campo">
      <label for="categoria">Categoria</label>
      <select name="CategoriaId">
        <option selected disabled value="">-- Elige una categoria --</option>
        <% categorias.forEach(categoria => { %>
        <option value="<%= categoria.id %>"><%= categoria.name %></option>
        <% }); %>
      </select>
    </div>

    <div class="campo">
      <label for="url">Sitio Web</label>
      <input type="url" name="url" placeholder="Sitio Web" />
    </div>

    <div class="campo">
      <label for="imagen">Imagen</label>
      <div id="drop">
        Arrastra y suelta tus archivos aquí,
        <span id="uploadTrigger">o click aqui para subir.</span>

        <div class="preview-container">
          <img id="preview" alt="Vista previa de la imagen" />
          <i class="fa-solid fa-circle-xmark" id="deleteImg"></i>
        </div>
      </div>
      <input
        type="file"
        name="imagen"
        id="imagen"
        accept="image/*"
        style="display: none"
      />
    </div>
    <div class="campo">
      <label for="descripcion">Descripcion</label>
      <div class="trix-container">
        <input id="x" type="hidden" name="descripcion" id="descripcion" />
        <trix-editor input="x"></trix-editor>
      </div>
    </div>

    <button type="submit" class="btn btn-amarillo">Crear Grupo</button>
  </form>
</main>
