<nav class="nav">
    <a href="/new-group">Crear Grupo</a>
    <a href="/new-group">Nuevo Meti</a>
    <a href="/dashboard">Administracion</a>
    <a href="/logout" style="color: red;">LogOut</a>
  </nav>