html {
  box-sizing: border-box;
  font-size: 90%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;

  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  color: #2a2a2a;
}


h1 {

  font-size: 3rem;
  margin-bottom: 5rem;
  margin-top: 0;
  text-transform: uppercase;
  text-align: right;
}

h2 {

  font-size: 2.5rem;
}

h3 {
  text-align: left;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover h3,
a:hover {
  color: #39f;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.contenedor.panel-administracion {
  max-width: 60rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  line-height: 2;
}

.logo {
  height: 6rem;
  margin: 2rem;
}

a,
p,
li,
span {
  font-size: 1.2rem;
}

/*** COMPONENTES **/
.alertas {
  z-index: 10000000000000000000000;
  max-width: 42rem;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.alerta {
  text-align: center;
  font-size: 16px;
  display: block;
  color: white;
  font-weight: 700;
  padding: 1rem 4rem;
  margin: 1rem 0;
  border-radius: .5rem;
}

.error {
  background-color: #ff0000bb;
}

.success {
  background-color: rgba(0, 255, 26, 0.821);
}

/** botones **/
.btn {
  padding: .5rem 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #2a2a2a;
  display: inline-block;
  border-radius: 2rem;
  border: 1px solid rgba(92, 92, 92, 0.2);
  width: fit-content;
  min-width: 10rem;
  cursor: pointer;
  transition: transform .3s ease;
}


.btn:hover {}

.btn-amarillo {
  background-color: #ffe99a;

}

.btn-rosa {
  background-color: #FF99B3;
}

.btn-azul {
  background-color: #99CFFF;
}

.btn-verde {
  background-color: #99FFBD;
}


.btn-rojo {
  background-color: #f56565;
}

/** Grid **/
.grid {
  display: grid;
  grid-column-gap: 2rem;
}

.columnas-2 {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .columnas-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .columnas-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** Card Component **/
.card {
  border: 1px solid #e8e8e8;
  margin-bottom: 2rem;
}

.card .card-texto {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}

.card h3,
.informacion-admin h3 {
  font-size: 1.8rem;
  margin: 0.6rem 0;
  padding: 0.5rem 0;
  font-weight: 700;
  color: #484349;
}

.card .fecha,
.informacion-admin .fecha {
  font-size: 0.8rem;
}

.card p {
  margin: 0;
}



.info-autor {
  display: flex;
  justify-content: space-between;
}

.info-autor .informacion {
  flex: 1;
  margin-left: 2rem;
}

.info-autor .imagen {
  border-radius: 50%;
  background-color: #e1e1e1;
  height: 50px;
  width: 50px;
}

.info-autor .autor {
  font-weight: 700;
  margin-top: 0.5rem;
}

.info-autor p {
  margin: 0;
}

/** layout**/
.site-header {
  text-align: center;
}

@media (min-width: 768px) {
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

nav.nav a {
  padding: 1rem;
  display: inline-block;
}

nav.nav a:first-child {
  color: #ff4593;
  font-weight: 700;
  border-right: 1px solid #e6e6e6;
}

/** hero **/
.hero {
  height: 38rem;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  max-width: 800px;
  color: white;
}

/** Buscador Inicio **/
.buscador-inicio {
  padding: 3rem 0;
  background-color: #f2f2f2;
}

.buscador-inicio h2 {
  padding: 1rem 0 2rem 0;
  margin: 0;
}

.buscador-inicio form {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="url"],
form input[type="date"],
form input[type="time"],
form input[type="number"],
form select,
form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border-radius: 0;
  color: #888888;
  border: 1px solid #a8a6a8;
  padding: 1.1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  /* width: 100%; */
}

.contenedor-input {
  width: 100%;
  position: relative;
}

.form-busqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campo-busqueda {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

#mapaBusqueda {
  /* display: none; */
  margin-top: 1rem;
  height: 20rem;
  width: 100%;
}

.mapa-resultado{
  margin-top: 1rem;
  height: 30rem;
  width: 100%;
}

.resultados-busqueda {
  position: absolute;
  top: 3rem;
  left: 0;
  border: 1px solid #a8a6a8;
  border-radius: .5rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  z-index: 10000;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
}

.resultados-busqueda li {
  border-bottom: 1px solid #a8a6a8;
  padding: 1rem;
}

.resultados-busqueda li:last-child {
  border: none;
}

.resultados-busqueda li:hover {
  background-color: #90cdf4;

}



/** Categorias **/
main.categorias {
  background-color: #f2f2f2;
  padding: 2rem 0;
  margin-top: 3rem;
}

.lista-grupos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.lista-grupos li {}

.lista-grupos li .imagen {
  border-radius: .5rem;
  max-width: 15rem;
  height: 8rem;
  overflow: hidden;
}

.listado-categorias p {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
  display: block;
}

.listado-asistentes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .listado-asistentes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .listado-asistentes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1366px) {
  .listado-asistentes {
    grid-template-columns: repeat(5, 1fr);
  }
}

.listado-asistentes li {
  padding: 1rem;
  border: 1px solid #a8a6a8;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.listado-asistentes li .imagen {
  max-width: 10rem;
  height: auto;
}

.listado-asistentes .texto {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .listado-categorias li p {
    font-size: 1.4rem;
  }
}

.listado-categorias li {
  margin-bottom: 1rem;
}

.listado-categorias li img {
  transition: transform 0.3s ease;
}

.listado-categorias li:hover img {
  transform: scale(0.95);
}

/** Caracteristicas **/
.meeti-bg {
  background: linear-gradient(to bottom,
      #b8336a 0%,
      #b8336a 50%,
      #068d9d 50%,
      #068d9d 100%);

  padding: 5rem 0;
}

@media (min-width: 768px) {
  .meeti-bg {
    background: linear-gradient(to right,
        #b8336a 0%,
        #b8336a 50%,
        #068d9d 50%,
        #068d9d 100%);
  }
}

.informacion-usuario {
  display: flex;
  gap: 3rem;
}

.meeti {
  color: white;
  width: 90%;
}

.meeti h3 {
  font-size: 2.4rem;
}

.meeti p {
  font-size: 1.4rem;
}

/** Footer **/
.site-footer {
  margin-top: 5rem;
  padding: 5rem 0 5rem 0;
  text-align: center;
}

.site-footer p {
  margin: 0;
}

@media (min-width: 768px) {
  .site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/** Crear Cuenta **/
main.contenedor-formularios {
  max-width: 900px;
  width: 95%;
  padding: 5rem 0;
}

.no-padding {
  padding: 0 !important;
}

.default-form .campo {
  display: flex;
  margin-bottom: 1rem;
}

.campo.acciones {
  justify-content: space-between;
  padding: 1rem 0;
}

.campo.enviar {
  justify-content: flex-end;
  padding-top: 2rem;
}

.default-form .campo label {
  flex: 0 0 120px;
}

.default-form .campo input[type="text"],
.default-form .campo input[type="password"],
.default-form .campo input[type="email"],
.default-form .campo input[type="url"],
.default-form .campo input[type="date"],
.default-form .campo input[type="time"],
.default-form .campo input[type="number"],
.default-form .campo textarea,
.default-form .campo select {
  margin: 0;
  flex: 1;

}

.default-form legend {
  color: #068d9d;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 2.5rem 0;
}

.descripcion {
  margin: 1rem 0;
}

.default-form.comentarios .campo {
  align-items: flex-start;
}

.default-form .campo textarea {
  height: 10rem;
  border: none;
  resize: none;
}

.contenedor-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

trix-editor {
  display: block;
}

trix-editor h1 {
  text-align: left !important;
}

.campo.descripcion label {
  display: block;
  margin-bottom: 2rem;
  align-self: flex-start;
  padding-top: 4rem;
}

.trix-container {
  width: 100%;
}

trix-toolbar,
trix-editor {
  background-color: white !important;
}

trix-toolbar {
  padding: 1rem;
}

trix-editor {
  font-size: 1.2rem;
  min-height: 20rem !important;
  padding: 2rem;
  width: 100%;
}

trix-editor h1,
trix-editor blockquote {
  color: black;
}

trix-toolbar .trix-button-group {
  margin-bottom: 0;
}

trix-toolbar .trix-button--icon-strike {
  display: none;
}

/** Administración **/


.contenedor-botones {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contenedor-botones {
    display: flex;
    flex-direction: row;

    gap: 1.2rem;
    width: 100%;
  }

  .acciones.contenedor-botones {
    justify-content: flex-end;
  }

}

/** Listado de Eventos admin**/
.seccion-admin {
  padding-top: 2rem;
}

.seccion-admin li {
  padding: 1rem 0;
  border-bottom: 1px solid #e6e6e6;
}

.seccion-admin li:last-of-type {
  border-bottom: none;
}

@media (min-width: 768px) {
  .seccion-admin li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
  }
}

.seccion-admin .fecha,
.seccion-admin h3 {
  margin: 0;
}

.informacion-admin {
  flex: 0 0 40%;
}

.informacion-admin small {
  font-weight: 700;
  font-size: 0.8rem;
}



/** Single Eventos **/

.encabezado-evento {
  border-top: 4px solid #eaeaea;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .encabezado-evento .contenedor {
    display: flex;
    justify-content: space-between;
  }
}

.resumen-evento h1 {
  text-align: left;
  font-size: 2rem;
}

/** Asistencia **/
.pregunta-asistencia {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pregunta-asistencia p {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}


.opciones-asistencia {
  display: flex;
  justify-content: space-between;
}

.opciones-asistencia a {
  flex: 1;
}

.opciones-asistencia a:first-of-type {
  margin-right: 2rem;
}

.contenido-evento {
  background-color: #f2f2f2;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .contenido-evento .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contenido-evento .informacion-evento {
    flex: 0 0 60%;

  }

  .contenido-evento .informacion {
    flex: 0 0 calc(40% - 2rem);
    position: sticky;
    top: 3rem;

  }
}

/** Asistentes **/
.asistentes .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.asistentes .titulo a {
  color: #068d9d;
  font-weight: 700;
  font-size: 1.4rem;
}

.lista-asistentes {
  display: flex;
  justify-content: space-between;
}

.lista-asistentes li {
  flex: 0 0 calc(33.3% - 1rem);
  height: 200px;
  background-color: white;
  border: 1px solid #c7c7c7;
}

.comentario {
  display: flex;
  margin-bottom: 2rem;
}

.comentario .imagen {
  flex: 0 0 80px;
  height: 80px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 2rem;
}

.comentario .texto {
  padding: 2rem;
  border-radius: .5rem;
  background-color: white;
  width: 100%;

}

.comentario .texto p {
  margin: 0;
}

/** Sidebar **/
.contenido-evento aside {
  border-radius: .5rem;
  background-color: white;
}

.contenido-evento aside>div:nth-child(1) {
  padding: 0rem 0 0rem 2rem;
  background-size: 20px;
  background-position: center left;
  background-repeat: no-repeat;
  margin: 1rem;
}

.contenido-evento aside>div:nth-child(2) {
  padding: 0 1rem 1rem 1rem;
}

.contenido-evento aside p {
  margin: 0;
}

aside .fecha {
  background-image: url(../img/icono-hora.svg);
  margin-bottom: 2rem;
}


aside img {
  display: block;
}

/* trix */
trix-editor {
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-size: 1rem;
}

trix-editor ul {
  list-style: disc;
}

/* Drag and Drop elements */
#drop {
  height: 20rem;
  width: 100%;
  border: 1px solid #a8a6a8;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #a8a6a8;
}

#drop.dragover {
  border-color: #90cdf4;
}

#uploadTrigger {
  color: blue;
  cursor: pointer;
}

#uploadTrigger:hover {
  color: #90cdf4;
}



.preview-container {
  width: 90%;
  height: 90%;
  position: absolute;
  display: none;
}

#preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

#deleteImg {
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 2rem;
}

#deleteImg:hover {
  color: firebrick;
}


.campo.mapa {
  display: flex;
  flex-direction: column;
}

.mapa {
  width: 100%;
  height: 20rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

#mapa {
  width: 100%;
  height: 20rem;
  border-radius: .5rem;
  border: 1px solid #a8a6a8;
}


/* Loader wheel */

.contenedor-input small {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loader {
  opacity: 0;
  width: 1rem;
  height: 1rem;
  border: 1px solid #a8a6a8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Avatar */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.editor-avatar {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: #2a2a2adf;
  display: none;
  gap: 2rem;
}

.editor-avatar .lienzo {
  max-width: 60rem;
  height: auto;
  overflow: hidden;
  border-radius: .5rem;

}

.editor-avatar .actions {
  display: flex;
  gap: 2rem;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}

/* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
.cropper-view-box {
  outline: 0;
  box-shadow: 0 0 0 1px #39f;
}

.avatar-btn-containter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
}

.button-wrapper {
  position: relative;

}

.button-wrapper span.label {
  display: block;
  color: white;
  z-index: 0;
  background: #68d391;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
}

#avatar {
  display: block;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

#avatarPreview {
  max-width: 10rem;
  height: auto;
}