<h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif">
  Confirmar tu cuenta
</h1>

<p style="font-family: Arial, Helvetica, sans-serif">
  Estas a un paso de crear una comunidad en Meeti, solo debes confirmar tu
  cuenta en el siguiente enlace.
</p>

<a
  href="<$= url $>"
  style="
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: crimson;
    text-align: center;
    text-decoration: none;
    color: white;
  "
  >Confirmar Cuenta, Click aquí.</a
>

<p>Si no solicitaste este email puedes ignorarlo.</p>
